/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c2bfc7; /* Roxo */
    padding: 10px 20px;
}

/* Header.css */
.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.logo {
    height: 50px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: rgba(12, 12, 14, 0.934);
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}
